@font-face {
  font-family: 'Cousine';
  src: url("./assets/fonts/Cousine/Cousine-Regular.eot");
  src: url("./assets/fonts/Cousine/Cousine-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Cousine/Cousine-Regular.woff2") format("woff2"), url("./assets/fonts/Cousine/Cousine-Regular.woff") format("woff"), url("./assets/fonts/Cousine/Cousine-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Chivo';
  src: url("./assets/fonts/Chivo/Chivo-Regular.eot");
  src: url("./assets/fonts/Chivo/Chivo-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Chivo/Chivo-Regular.woff2") format("woff2"), url("./assets/fonts/Chivo/Chivo-Regular.woff") format("woff"), url("./assets/fonts/Chivo/Chivo-Regular.svg#Chivo-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Chivo-Bold';
  src: url("./assets/fonts/Chivo/Chivo-Bold.eot");
  src: url("./assets/fonts/Chivo/Chivo-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Chivo/Chivo-Bold.woff2") format("woff2"), url("./assets/fonts/Chivo/Chivo-Bold.woff") format("woff"), url("./assets/fonts/Chivo/Chivo-Bold.svg#Chivo-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

html, body {
  font-family: 'Chivo', sans-serif; }

.header--h1-margins {
  margin: 1em 0 1em 0; }

.nav-item {
  margin: 0 1em 0 1em; }
