$header: #212529;

body, html {
  background-color: #fff;
}

.editor--toolbar-button {
  background-color: unset;
  border-color: unset;
  color: $header;
}

.editor--toolbar-button_group {
  margin: .5em .5em .5em .5em;
}

.editor--toolbar-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 .5em 1em 0;
}

.list-group-item {
  border: none;
}

.editor--navbar {
  overflow: auto;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.mainEditor {
  margin: 3em 3em 0 0;
}

.textArea {
  border: none;
  flex-grow: 1;
  padding: 2em 2em 2em 2em;
  resize: none;
}

textArea:focus {
  outline: none;
}

.textAreaContainer {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}